/* ЗМІННІ ЗНАЧЕННЯ */

:root {
    --accent-color: #2E2F42;
    --secondary-color: #434455;
    --iris-color: #4D5AE5;
    --primary-white-color: #FFFFFF;
    --button-active-color: #404BBF;
    --cloud-color: #F4F4FD;
    --footer-text-color: #E7E9FC;
    --header-color-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
    --team-list-color-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    --portolio-card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

}


/* ДЕФОЛТНІ СКИДАННЯ */

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* ГЛОБАЛЬНІ ЗНАЧЕННЯ */
body {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}


/* WEBSTUDIO */

/* HEADER STYLES */

.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: var(--header-color-shadow);
}

.page-header-container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.contact-information {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.logo-link {
    margin-right: 77px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--iris-color);
    text-transform: uppercase;
}


.logo-navy-blue {
    color: var(--accent-color);
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.menu-link {
    font-weight: 500;
    color: var(--accent-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--secondary-color);
}

.menu-link:active {
    color: var(--iris-color);
}

.mail-adress,
.phone-number {
    color: var(--secondary-color);
}

.phone-number:hover,
.mail-adress:hover,
.phone-number:focus,
.mail-adress:focus {
    color: var(--iris-color);
}

.menu-contact:first-child {
    margin-right: 40px;
}

/* HERO */

.hero {
    padding-top: 192px;
    padding-bottom: 192px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero-picture.jpg");
    background-size: cover;
    background-position: center;
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    max-width: 500px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
}

.button-order {
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    background: var(--iris-color);
}

.button-order:hover,
.button-order:focus {
    background: var(--iris-color);
}

.button-order:active {
    background: var(--button-active-color);
}

/* < !--SECTION 1 FEATURE--> */

.section-feature {
    padding-top: 120px;
}

.feature-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.feature-item {
    width: 264px;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--accent-color);
    margin-bottom: 72px;
}

.subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: var(--accent-color);
    margin-bottom: 8px;
}

.text {
    color: var(--secondary-color);
}

/* SECTION 2 WHAT ARE WE DOING */

.work {
    display: flex;
    align-items: center;
    gap: 24px;
}


/* < !--SECTION 3 ABOUT OUR TEAM-->*/
.team {
    background-color: var(--cloud-color);
}

.team-list {
    background-color: var(--primary-white-color);
    box-shadow: var(--team-list-color-shadow)
}

.team-members {
    display: flex;
    align-items: center;
    gap: 24px;

}

.team-name {
    padding: 32px 16px;
    text-align: center;
}

/* PORTFOLIO */

.portfolio-title {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.filters-list {
    padding: 8px 16px;
    border: 1px solid var(--footer-text-color);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background: var(--cloud-color);
    text-align: center;
}

.filters-list:hover,
.filters-list:focus {
    color: var(--primary-white-color);
    background-color: var(--iris-color);
}

.filters-list:active {
    color: var(--primary-white-color);
    background-color: var(--iris-color);
}

.filters-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 96px;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding-bottom: 120px;

}

.portfolio-list-card {
    box-shadow: var(--portolio-card-shadow);
}

.portfolio-card-text {
    border-left-width: 0.5px;
    border-left-style: solid;
    border-left-color: var(--cloud-color);
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: var(--cloud-color);
    border-right-width: 0.5px;
    border-right-style: solid;
    border-right-color: var(--cloud-color);

    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

/* < !--FOOTER PART--> */

.footer .logo-block {
    display: block;
    margin-bottom: 16px;
    margin-right: 0;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--accent-color);
}

.footer-size {
    width: 264px;
}

.logo-cloud-color {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--cloud-color);
    text-transform: uppercase;
}

.footer-text {
    color: var(--footer-text-color);
}